<main>
  <header class="brand-name bg-white flex items-center justify-between px-4 h-16">
    <div class="flex items-center">
      <lucide-icon [img]="HouseIcon" class="mr-2"></lucide-icon>
      <h4>GitHub Trending Repos</h4>
    </div>
    <div class="flex w-full max-w-sm items-center space-x-2">
      <input aria-label="Search" class="w-full" hlmInput [(ngModel)]="searchTerm" type="text" placeholder="Search..." />
    </div>
  </header>
  <section class="content bg-gray-50 h-[calc(100vh-4rem)] overflow-auto p-4">
    <app-trendings></app-trendings>
  </section>
</main>
